.wishlist-card {
    h5 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
        color: var(--color-1c1c1b);
    }
    h6 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
    }
}