.filter-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 25px;
    .filter-title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: var(--color-1c1c1b);
        margin-bottom: 20px;
    }
        
        .sub-title {
          font-size: 14px;
          font-weight: 600;
          color: var(--color-1c1c1b);
          margin-bottom: 15px;  
          margin-top: 20px;
        }

        ul {
            list-style: none;
            font-size: 13px;
            line-height: 30px;
            color: var(--color-777777);
            cursor: pointer;
        }

        .form-check-label {
            list-style: none;
            font-size: 13px;
            line-height: 30px;
            color: var(--color-777777);
            cursor: pointer;
        }

        .form-check-input:checked {
            background-color: var(--color-febd69);
            border-color: var(--color-febd69);
            &:focus {
                box-shadow: none;
                border-color: rgba(0, 0, 0, 0.25);
            }          
        }

            .colors {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                li {
                    width: 20px;
                    height: 20px;
                    background-color: red;
                    border-radius: 50%;
                }
            }
}

.random-products {
    &:first-child {
        border-bottom: 1px solid var(--color-ededed);
    }

    h5 {
        font-size: 14px;
        margin-bottom: 8px;
    }
}

.filter-sort-grid {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.grid img {
    width: 35px;
    height: 35px;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 3px;
}